* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

header {
    height: 55px;
    background-color: rgb(255, 98, 98);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.globe {
    width: 30px;
    filter: invert(1);
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}

.entry {
    margin: 50px 100px;
}

.marker {
    width: 25px;
}