* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
}

header {
    height: 55px;
    background-color: rgb(255, 98, 98);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.globe {
    width: 30px;
    filter: invert(1);
}

header > h1 {
    font-size: 0.9rem;
    font-weight: 500;
}



/*journal entry styles*/
.journal-entry {
    margin: 50px 50px;
}

article {
    display: flex;
    align-items: center;
}

.main-img-container {
    width: 125px;
    height: 168px;
    overflow: hidden;
    margin-right: 15px;
    border-radius: 5px;
    flex-shrink: 0;
}

.main-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.marker {
    width: 15px;
}

.country {
    margin-right: 15px;
    font-weight: 700;
    font-size: 0.7rem;
    text-transform: uppercase;
}

a {
    color: rgb(164, 160, 160);
    font-size: 0.7rem;
}

h2 {
    margin-top: 5px;
    font-size: 1.7rem;
    font-weight: 600;
}

.date {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: .8rem;
}

.description {
    margin-top: 0;
    font-size: .6rem;
    font-weight: 500;
    line-height: 20px;
}